.colorPredominante{
    height: 15px;
    box-shadow: 5px;
    border-radius: 15px;
    width: 50px;
}

.colorPredominante.anger{
    background: rgb(235, 19, 19);
}

.colorPredominante.surprise{
    background: #02FFDD;
}

.colorPredominante.disgust{
    background: #64B726;
}

.colorPredominante.sadness{
    background: #2771BF;
}

.colorPredominante.happiness{
    background: #F79C21;
}

.colorPredominante.fear{
    background: #5E2DCE;
}

.surprise{
    --progress-background: #02FFDD;
}

.anger{
    --progress-background: #FF0202;
}

.disgust{
    --progress-background: #64B726;
}

.sadness{
    --progress-background: #2771BF;
}

.happiness{
    --progress-background: #F79C21;
}

.fear{
    --progress-background: #5E2DCE;
}