.colorPredominante{
    height: 15px;
    box-shadow: 5px;
    border-radius: 15px;
    width: 50px;
}

.colorPredominante.anger{
    background: #ff6c7b;
}

.colorPredominante.surprise{
    background: #02FFDD;
}

.colorPredominante.disgust{
    background: #99da67;
}

.colorPredominante.sadness{
    background: #317dcf;
}

.colorPredominante.happiness{
    background: #f8b865;
}

.colorPredominante.fear{
    background: #7241e5;
}

.surprise{
    --progress-background: #02FFDD;
}

.anger{
    --progress-background: #f54658;
}

.disgust{
    --progress-background: #99da67;
}

.sadness{
    --progress-background: #317dcf;
}

.happiness{
    --progress-background: #f8b865;
}

.fear{
    --progress-background: #7241e5;
}