.fechaDiv {
    width: 70px;
    height: 70px;
    display: block;
    margin-right: 25px;
    justify-content: center;
    text-align: center;
    color: rgb(247, 247, 247);
    background: rgb(18, 167, 25);
    padding: 3px;
    border-radius: 15%;
}

.estadosCard {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}

.fechaDiv .textDiaMes {
    font-size: 17px;
    font-weight: bold;
}

.fechaDiv .textAnio {
    font-size: 16px;
    font-weight: bold;
}

.textPub {
    font-size: 16px;
    color: white;
}


.colorPredominante{
    height: 15px;
    box-shadow: 5px;
    width: 50px;
}

.colorPredominante.anger{
    background: rgb(235, 19, 19);
}

.colorPredominante.surprise{
    background: #02FFDD;
}

.colorPredominante.disgust{
    background: #64B726;
}

.colorPredominante.sadness{
    background: #2771BF;
}

.colorPredominante.happiness{
    background: #F79C21;
}

.colorPredominante.fear{
    background: #5E2DCE;
}

.surprise{
    --progress-background: #02FFDD;
}

.anger{
    --progress-background: #FF0202;
}

.disgust{
    --progress-background: #64B726;
}

.sadness{
    --progress-background: #2771BF;
}

.happiness{
    --progress-background: #F79C21;
}

.fear{
    --progress-background: #5E2DCE;
}